.main-section {
    background-image: url('./img/slider-3_img_1.jpg');background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}



.main-section:before {
    width: 100%;
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: rgba(0,0,0,0.5);
}


h1 {
 font-family: 'Dancing Script', Georgia, Times, serif;
 font-size: 59px;
 line-height: 60px;
}
 
p {
 font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
 font-size: 18px;
 line-height: 25px;
 margin-top: 15px;
}

.social {
   background-color: #2a2a2c; 
}

.feature-icon svg {
    width: 100%;
    height: 100%;
    fill: #fa5079;
}

.massage-card:hover {
    transition: all 0.3s;
    background-color: #fa5079;
}

.massage-card:hover .feature-icon svg {
    fill: #fff;
}

.massage-card:hover .card-title {
    color: #dedede;
}

.massage-card:hover .card-subtitle{
    color: #eee;
}

.appointment-button{
    font-size: 0.611em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 2.2px;
    color: #FFFFFF;
    background-color: #ff9bb3;
    border: 1px solid #ff9bb3;
    border-radius: 0px 0px 0px 0px;
    padding: 24px 87px 24px 87px;
    transition: all 0.7s;
    outline: none;
}

.appointment-button:hover {
    color: #ff9bb3;
    background-color: transparent;
    border-color: #ffff;
}

.blog-title {
    font-family: 'Dancing Script', Georgia, Times, serif;
}


.checklist p.checklist-item:before {
    content: "";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 7.105a.14.14 0 01-.193 0L2.459 3.6 0 5.999l3.597 3.508L6.154 12 16 2.397 13.539 0 6.25 7.105z' fill='%2355B891' fill-rule='evenodd'/%3E%3C/svg%3E");

}