html {
    scroll-behavior: smooth;
}

.main-section {
    background-image: url('./img/header_image_massage.jpg');background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}



.main-section:before {
    width: 100%;
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: rgba(0,0,0,0.5);
}


h1 {
 font-family: 'Dancing Script', Georgia, Times, serif;
 font-size: 59px;
 line-height: 60px;
}
 
p {
 font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
 font-size: 18px;
 line-height: 25px;
 margin-top: 15px;
}

.social {
   background-color: #222a3e; 
}


.blue-color {
  color: #222a3e;
}

.about-title {
    color: #222a3e;
    font-size: 59px;
    font-weight: 700;
}

.feature-icon svg {
    width: 100%;
    height: 100%;
    fill: #fa5079;
}

.massage-card:hover {
    transition: all 0.3s;
    background-color: #fa5079;
}

.massage-card:hover .feature-icon svg {
    fill: #fff;
}

.massage-card:hover .card-title {
    color: #dedede;
}

.massage-card:hover .card-subtitle{
    color: #eee;
}

.appointment-button{
    font-size: 0.611em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 2.2px;
    color: #FFFFFF;
    background-color: #ff9bb3;
    border: 1px solid #ff9bb3;
    border-radius: 0px 0px 0px 0px;
    padding: 24px 87px 24px 87px;
    transition: all 0.7s;
    outline: none;
}

.appointment-button:hover {
    color: #ff9bb3;
    background-color: transparent;
    border-color: #ffff;
}

.blog-section {
    background-color: #F8F8F8;
}
.blog-title {
    font-family: 'Dancing Script', Georgia, Times, serif;
}


.checklist p.checklist-item:before {
    content: "";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 7.105a.14.14 0 01-.193 0L2.459 3.6 0 5.999l3.597 3.508L6.154 12 16 2.397 13.539 0 6.25 7.105z' fill='%2355B891' fill-rule='evenodd'/%3E%3C/svg%3E");

}

footer {
    background-color: #fff;
}

#header {
    transition: all 0.3s;
}

.sticky {
    position: fixed;
    height: 80px;
    background: #fff;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}



#header.sticky #navigation a {
    color: #1a202c;
}

.contact-button {
    background: transparent;
    border: 1px solid #e05a7b;
    color: #fff;
    background-color: #e05a7b;
    letter-spacing: 1px;
    outline: none;
    transition: all 0.3s;
}

.contact-button:hover {
    background-color: transparent;
    box-shadow: none;
    color: #fff;
}
img.alignnone {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.line-ef {
    max-width: 280px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 0;
}

.line-ef:before  {
    position: absolute;
    content: " ";
    width: 100px;
    height: 1px;
    background-color: #c1bfda;
    left: 0px;
    top: 61%;
}
.line-ef:after {
    position: absolute;
    content: " ";
    width: 100px;
    height: 1px;
    background-color: #c1bfda;
    top: 61%;
}
.line-ef:after {
    right: 0;
}


.about-section {
    background-color: #fff8f5;
    background-image: url('./img/about_cvece.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.testemonials {
    background-image: url('./img/fizioterapija_klijenti.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}

.gallery-images {
    margin-top: -110px;
}

.pink-wrapper {
    background-color: #fc84b4;
}

.subheading {
    font-weight: 300;
    color: #fff;
    font-size: 1.5em;
}

.contact {
    background-image: url('./img/h1-parallax-3.jpg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.sticky {
    position: fixed;
}

.bg-image {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

@media (min-width: 1024px) {
    .top-navbar {
      display: inline-flex !important;
    }
}

.height-250 {
    height: 250px;
}

.slika {
    opacity: 1;
  transition: transform 5s cubic-bezier(0,1,.3,1),
              opacity .5s ease-out;
}

.slika.is-visible {
    opacity: 0;
    transform: translateY(4em) rotateZ(-5deg);
}

.carousel-wrapper {
    width: 100%;
    overflow: hidden;
}

.carousel-holder {
    width: 100%;
    display: flex;
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

blockquote {
    width: 100%;
    flex-shrink: 0;
    height: 50%;
    scroll-snap-align: start;
    
}

@keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
  }