<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
    <title>{{ .Site.Title }}</title>
</head>

<body>
    {{- partial "header.html" . -}}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    {{- partial "footer.html" . -}}
</body>

</html>